:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0 ;
  

  #chart {
    width: 100%;
    height: 100%;
  }

  ::ng-deep .svg-container {
    width: 100%;
    height: 100%;

    .data-point-marker {
      fill: red;
      stroke: blue;
      stroke-width: 1px;
    }
  }
  
}

