<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form__body">
    <div class="mr-3">
      <label *ngFor="let i of sourceTypeNames">
        <input type="radio" formControlName="sourceType" [value]="i" name="sourceType" />
        {{ i }}
      </label>
    </div>
    <div class="mr-3">
      <aop-dropdown-multiselector
        formControlName="sourceNames"
        placeholder="source name"
        [options]="referralStatisticSource$ | async"
        optionLabel="name"
        (onFilterEvent)="onCustomFilterEvent($event)"
      ></aop-dropdown-multiselector>
    </div>
    <div class="mr-3">
      <!-- <aop-shared-datepicker #datePicker (dateChange)="onDateChange($event)"></aop-shared-datepicker> -->
    </div>
  </div>
  <div class="form__controls">
    <button class="pointer" type="submit">
      <span class="search-icon">
        <i class="fas fa-search text-light btn-search-fa align-middle btn-light-blue p-2"></i>
      </span>
    </button>
    <button class="pointer" type="button" (click)="reset()">
      <span class="close-icon">
        <i class="fas fa-ban text-light btn-ban-fa align-middle btn-light-blue p-2"></i>
      </span>
    </button>
  </div>
</form>
