:host {
  @mixin border-styles {
    border: 2px solid #4285f4; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .widget {
    display: grid;
    grid-template-areas:
      'chart chart overview'
      'detail detail detail';
    gap: 2rem;
    background-color: #f2f2f2; 

    &__chart {
      grid-area: chart;
      @include border-styles;
      min-height: 350px;
      background-color: rgba(66, 134, 244, 0.4); 
    }
    &__overview {
      grid-area: overview;
      @include border-styles;
      padding: 1.5rem; 
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .tile {
        @include border-styles;
        padding: 2rem; 
        background-color: #4285f4; /* Изменяем цвет */
        color: #fff;
        h3 {
          font-size: 24px;
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
    &__detail {
      grid-area: detail;
      @include border-styles;
      padding: 1.5rem; 
    }
  }
}
